.mainTextContainer {
    position: absolute;
    top: 35%;
    left: 10%;

}

.isWhiteColor {
    color: white;
}

.isBlackColor {
    color: black;
}

.symbolNearCircle {
    font-size: 6rem;

}

.textContainer {
    font-size: 4rem;
}

.textContainerBold {
    font-weight: 900;
}

.callName {
    font-size: 2vw;
    margin-top: 4%;
}

.secondString {
    margin-bottom: 4%;
    font-size: 4vw;
}

.svgFill {
    margin-bottom: 8%;
}

.containerMainToggle {
    display: flex;
    justify-content: space-between;
    width: 55%;
    align-items: center;
    margin-top: 8%;
    height: 6rem;
}

.lineMainToggle {
    border-bottom: 1px solid;
    width: 75%;
}

.arrowMainToggle {
    font-size: 1rem;
    width: 20%;
    border: 1px solid;
    aspect-ratio: 1;
    border-radius: 50% 50%;
    display: flex;
}

.arrowStyle {
    align-self: center;
    text-align: center;
    width: 100%;
}

.svgFillSmall {
    display: none;
}

@media (max-width:1024px) {
    .mainTextContainer {
        top: 30%;
    }

    .containerMainToggle {
        margin-top: 4%;
        height: 4rem;
        width: 100%;
    }
}

@media (max-width:768px) {
    .mainTextContainer {
        top: 22%;
    }

    .secondString {
        margin-bottom: 4%;
        font-size: 3vw;
    }

    .containerMainToggle {
        margin-top: 0;
        height: 4rem;
        width: 100%;
    }

    .svgFill {
        margin-bottom: 2%;
    }
}

@media (max-width:768px) {
    .mainTextContainer {
        top: 22%;
    }

    .secondString {
        margin-bottom: 4%;
        font-size: 3vw;
    }

    .containerMainToggle {
        margin-top: 0;
        height: 2rem;
        width: 100%;
    }
}

@media (max-width:480px) {
    .svgFill {
        display: none;
    }

    .svgFillSmall {
        display: block;
    }

    .mainTextContainer {
        top: 35%;
    }

    .lineMainToggle {
        border-bottom: 1px solid;
        width: 60%;
    }

    .arrowMainToggle {
        width: 30%;
    }
}