.forNameToggleColumn{
    position: absolute;
    font-size: 3vw;
    top: 75%;
    left: 5%;
    color: white;
    line-height: 90%;
}
.container-NameToggleColumn{
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
    /* top:100%;
    left: 2%; */
    width: 268%;
    align-items: center;
}
.line-NameToggleColumn{
    border-bottom: 0.1px white solid;
    width: 45%;
}
.textToggle-NameToggleColumn{
    font-size: 0.7vw;
    color: white;
    padding: 0 5%;
}
.arrowToggle-NameToggleColumn{
    color: white;
    font-size: 1rem;
}