.secondTextContainer{
    position: absolute;
    top: 35%;
    left: 10%;
    width: 35%;
}
.symbolNearCircle{
    font-size: 6rem;

}
.callTextContainer{
    font-size: 4rem;
    text-align: center;
}
.textContainerBold{
    font-weight: 900;
}
.secondCallName{
    font-size: 3vw;
}
.secondString{
    margin-bottom: 0;
    font-size: 4vw;
}
.svgFill{
    margin-bottom: 8%;
}
.second-row-img{
    position: relative;
}