.fourth-container{

}
.inner-Fourth-Container{
    display: flex;
    max-width: 100%;
    justify-content: flex-end;
}
.fourth-title{
    position: relative;
    min-width: 66.5%;
    margin-right: 0.5%;
}
.fourth-row-img{
    position: relative;
min-width: 33%;
}
.fourth-img{
    width: 100%;
    height: 100%;
}