.main-carusel-container{
    /* width: 450px; */
    /* height: 500px; */
    display: flex;
    align-items: center;
}
.window{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.all-pages-container{
    height: 100%;
    display: flex;
    transition: translate;
    transition-property: transform;
transition-duration: 300ms;
transition-timing-function: ease-in-out;
}
.arrow{
    cursor: pointer;
}
.imgForCarusel{
    width: 100%;
}
.mainToggle{
    position: absolute;
    top: 70%;
    left: 54%;
    font-size: 2rem;   
}
.isWhiteColor{
    color: white;
}
.isBlackColor{
    color: black;
}

.toggleLeft{

}
.toggleRight{

}
.toggle:hover{
    cursor: pointer;
}
@media(max-width:480px){
    .toggleLeft{
        font-size:1.5rem;
    }
    .toggleRight{
        font-size:1.5rem;
    }
}