.nav-container {
  width: 100%;
}

.navbar {
  position: absolute;
  z-index: 10;
  display: grid;
  grid-template-columns: 0.2fr auto;
  align-items: center;
  padding-top: 1%;
  width: 100%;
  margin: 0 auto;
}

.colorGray {
  background: rgb(0, 0, 0, 0.6);
}

.navbar-logo {
  justify-self: start;
  margin-left: 30px;
  width: 100%;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(8, auto);
  text-align: center;
  width: 70%;
  margin-right: 30px;
  justify-self: end;
  align-items: center;
}

.nav-items {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links {
  color: white;
}

.nav-links-black {
  color: black;
}

.row-Item {
  display: flex;
  flex-direction: column;
}

.secondRowIcon {
  display: flex;
  justify-content: space-evenly;
}

.styleImg {
  width: 15px;
  aspect-ratio: 1;
}

.hamburger {
  display: none;
}

@media (max-width:900px) {
  .nav-menu {
    display: none;
  }

  .hamburger {
    display: block;
    text-align: end;
    padding-right: 5%;
    justify-self: flex-end;
  }
}