.third-container{
    margin-bottom: 0.5%;

}
.inner-Third-Container{
    display: flex;
    max-width: 100%;
    justify-content: flex-end;
}
.third-title{
    position: relative;
min-width: 33%;
}
.third-row-img{
    position: relative;
    min-width: 66.5%;
    margin-left: 0.5%;
}
.third-img{
    width: 100%;
    height: 100%;
}