@font-face {
  font-family: "Futura PT";
  src: url("./fonts/FuturaPT-Light.woff2") format("woff2")
 }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Futura PT";
  /* overflow: hidden; */
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:hover{
  color: gray;
}

.container {
  max-width: 1940px;
  padding: 0px, 20px;
  margin: auto;
}

h1{
  font-size: 3.5rem;
  line-height: 1.2;
}

h2{
  font-size: 2.4rem;
  line-height: 1.2;
}

h5{
  font-size: 1.1rem;
  line-height: 1.2;
}

p{
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  h1{
    font-size: 2.1rem;
    line-height: 1.2;
  }
  
  h2{
    font-size: 1.5rem;
    line-height: 1.2;
  }
  
  h5{
    font-size: 1.1rem;
    line-height: 1.2;
  }
  
  p{
    font-size: 1rem;
  }


}




body {
  /* font-family: "Futura PT", "Poppins", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  height: 100%;
  position: relative;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */